body {
	background: #fefeff url("cloud4.jpg") fixed no-repeat;
	#background-size: 100%; #
 	#-moz-background-size: 100% 100%;       /* Gecko 1.9.2 (Firefox 3.6) */
    #-o-background-size: 100% 100%;         /* Opera 9.5 */
    #-webkit-background-size: 100% 100%;    /* Safari 3.0 */
    #-khtml-background-size: 100% 100%;     /* Konqueror 3.5.4 */
	color: black;
}

h1, h2, h3 {
	font-family: Verdana;
}

p {
	text-align: justify;
}

body > div {
	width: 60%;
	margin: auto;
	margin-top: 64px;
	margin-bottom: 64px;
	#background: #d0e0ff;
	background: rgba(208,224,255,0.8);
	padding-top: 16px;
	padding-bottom: 16px;
}

img#logo {
	#display: block;
    #margin-left: auto;
    #margin-right: auto;
	#position: relative;
	#top: -40px;
	position:absolute;
	top: 4px;
}

body > div > h1 {
	text-align:center;
}

body > div > div {
	width: 90%;
	margin: auto;
}

div#motto {
	text-align: right;
	font-style: italic;
	font-size: larger;
}

div.fold>h2, div.fold>h3, div.fold>h4 {
	text-decoration: underline;
	cursor: pointer;
}

div.fold > p, div.fold > ul, div.fold > div {
	display: none;
}
